/* Reset simple: quitamos márgenes y rellenos por defecto de todos los elementos */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
     font-family: "Montserrat", sans-serif;
}

header {
    background-color: #333333;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
}

nav button {
    background-color: #00bcd4;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

main {
    padding: 20px;
    display: flex;
}

.seccion-izquierda {
    /* border: 1px solid magenta;
    height: 500px; */
    flex: 2;
}

.seccion-derecha {
    border: 1px solid pink;
    height: 225px;
    flex: 1;
}

/*
si: 2 -> 2/3
sd: 1 -> 1/3
TOTAL: 3
*/

.tarjeta {
    border-radius: 10px;
    box-shadow: -2px 8px 21px 1px rgba(0, 0, 0, 0.21);
    width: 100%;
    /* height: 300px; */
    overflow: hidden;
}

.tarjeta-encabezado {
    height: 120px;
    background-color: #00bcd4;
}

#tarjeta-usuario img {
    width: 100px;
    border-radius: 50px;
    position: relative;
    border: 4px solid white; 
    top: -50px;
    left: 45px;    
}

h2 {
    padding: 0px 10px 20px 50px;
}

p {
   padding: 0px 50px 10px 50px;
}

a {
    padding: 0px 30px 0 50px;
}