/* CSS: Cascade Style Sheets
Estilizar el HTML que tengamos
*/

* {
    margin: 0;
    padding: 0;
    border: 0  ;
}

/*
SELECTORES BÁSICOS

etiqueta {
    propiedad: valor;
}

.clase {
    propiedad: valor;
}

#id {
    propiedad: valor;
}

*/

h2 {
    color: purple;
    font-size: 40px;
}

.rojo {
    color: red;
    font-size: 11px;
}

.subrayado {
    text-decoration: underline;
}

#parrafo_especial {
    border: 2px solid blue;
}

.colores {
    /* color: magenta; */
    /* color: rgb(111, 192, 243); */
    color: #0eb2e9;
    background-color: green;
}

#texto {
    text-align: left; /*left, center, right, justify*/
    text-decoration: underline; /*none, underline, line-through, overline*/
    font-style: italic; /*italic, normal*/
    font-weight: bold; /* bold, 100, 300, 900 */
    font-size: 20px;
    font-family: sans-serif; /* importar una fuente, sans-serif, serif, monospace, cursive */
}

.tamano {
    width: 400px; /*ancho*/
    height: 50px; /*alto*/
    background-color: darkblue;
}

.fondo {
    width: 400px;
    height: 600px;
    border: 1px solid black;

    background-color: aqua;
    background-image: url(img/gatito_small.jpg);
    background-repeat: no-repeat; /*no-repeat, repeat, repeat-x, repeat-y*/
    background-size: contain; /*cover: estirar verticalmente la imagen. contain: estirar horizontal*/
}

/* MODELO DE CAJA */
.caja {
    width: 100px;
    height: 100px;
    background-color: lightblue;

    /*Margin: el espacio entre mi elemento y el resto de la página*/
    margin: 20px;
    margin-top: 40px; /*-top, -right, -bottom, -left*/
    margin: 100px 15px;/* ArribaAbajo  IzqDer */
    margin: 50px 10px 100px 200px; /* arriba der abajo izq*/

    /*Padding: margen interno, relleno, espacio entre el contenido de mi elemento y el borde del elemento*/
    padding: 20px;
    padding-top: 50px; /* -top, -right, -bottom, -left */
    padding: 10px 100px; /* ArribaAbajo IzqDer */
    padding: 10px 30px 50px 100px; /* arriba der abajo izq */

    border: 3px black solid; /* solid, dotted, dashed */
}

/* JERARQUÍA: ID, CLASE, ETIQUETA */
.div_especial {
    width: 100px;
    height: 200px;
    background-color: brown;
}

#div_id {
    width: 300px;
    height: 300px;
    background-color: fuchsia;
}

/* La etiqueta p que se encuentre dentro de clase padre */
/* .padre p {
    text-transform: uppercase ;
    color: brown;
} */

/*El descendiente directo del padre*/
.padre > p {
    text-transform: capitalize;
    color: blue;
}

ul .modificado {
    font-weight: bold;
}

/*
.rojo #id_especial
#parrafo_especial .rojo
.formulario #encabezado3
*/

input[type="text"] {
    height: 100px;
}

input[type="number"] {
    width: 500px;
}

.inline {
    /*Me despliega en una sola línea los elementos. PERO NO PUEDO establecer tamaños*/
    display: inline;
}

.block {
    /* Me despliega el elemento como BLOQUE, no puedo poner nada en la misma línea. SI me deja modificar el tamaño */
    display: block;
}

.inline-block { 
    /*Me permite colocar los elementos en un mismo espacio y darles un tamaño*/
    display: inline-block;
    width: 300px;
    border: 1px solid black;
    vertical-align: middle; /*top, bottom, middle*/
}

#div1 {
    height: 150px;
}

#div2 {
    height: 500px;
}

#div3 {
    height: 300px;
}

.caja-grande {
    width: 600px;
    height: 400px;
    background-color: blue;
    padding: 15px;
}

.caja-pequena {
    width: 100px;
    height: 100px;
    background-color: yellow;
    display: inline-block; /*toma los espacios*/
}